/* App.css */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
    grid-template-rows: repeat(2, 1fr);
    height: 65vh;
    margin: 50px; /* Set the height to 100% of the viewport height for full-screen */
  }
  
  .grid-item {
    /* Define styles for the grid items, e.g., background color, padding, etc. */
    padding: 1rem;
    /* background-color: #f0f0f0; */
    
  }
  @media screen and (max-width: 1000px) {
    /* Change the grid template columns for smaller screens */
      .grid-container{
        grid-template-columns: repeat(2, 1fr);
        /* Adjust the height and margin for smaller screens */
        height: auto;
        margin: 20px;
      }
  }
  @media screen and (max-width: 600px) {
    /* Change the grid template columns for smaller screens */
      .grid-container{
        grid-template-columns: repeat(2, 1fr);
        /* Adjust the height and margin for smaller screens */
        height: auto;
        margin: 20px;
      }
  }
  @media screen and (max-width: 400px) {
    /* Change the grid template columns for smaller screens */
      .grid-container{
        grid-template-columns: repeat(1, 1fr);
        /* Adjust the height and margin for smaller screens */
        height: auto;
        margin: 20px;
      }
  }
 